body {
  background-color: #f0f0f0; /* Couleur d'arrière-plan par défaut */
  color: #333; /* Couleur de texte par défaut */
}

#calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 2fr);
  gap: 5px;
  width: 300px;
  margin: 50px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"] {
  grid-column: span 4;
  width: calc(100% - 20px);
  margin-bottom: 10px;
}

input[type="button"] {
  width: 100%;
  height: 50px;
  font-size: 16px;
}

/* Styles pour le mode sombre */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

#calculator.dark-mode {
  background-color: #555;
  border-color: #777;
}

input[type="button"].dark-mode {
  background-color: #777;
  color: #fff;
}
