body {
  background-color: #f0f0f0; /* Couleur d'arrière-plan par défaut */
  color: #333; /* Couleur de texte par défaut */
}

#calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 2fr);
  gap: 5px;
  width: 300px;
  margin: 50px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: lightgray;
}

#calcul {
  background-color: rgb(3, 158, 242);
  height: 84px;
  line-height: 84px;
}
input[type="text"] {
  grid-column: span 3;
  width: calc(100% - 10px);
  margin-bottom: 10px;
  height: 50px; /* La height */
  padding: 5px; /* Le padding */
  font-size: 24px; /* Le font-size */
}

input[type="button"] {
  width: 100%;
  height: 50px;
  font-size: 25px;
}

/* Styles pour le mode sombre */
body.dark-mode {
  background-color: #333;
  color: #fff;
  font-size: 25px;
}

#calculator.dark-mode {
  background-color: #555;
  border-color: #777;
  font-size: 25px;
}

input[type="button"].dark-mode {
  background-color: #777;
  color: #fff;
  font-size: 25px;
}
